/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.app {
  height: 100vh;
  /* background-image: url(./images/homepp.jpg);
  background-size: cover; */

  .sections {
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
    top: 90px;
  }
}
